<!-- {% extends "base.html" %}

{% block title %} | Login{% endblock %}
{% load static %}
{% block content %}

<style>
    section{
        display: flex;
        justify-content: center;
        align-items: center;
        
        width: 20%;
        height: 10%;
        margin-top: 7%;
        padding-left: 80%;
        
    }
    div{
        display: flex;
        align-items: center;
        justify-content: center;
        top: 60%;
    }
</style>
<section>
    <div>
        <a href="{% url 'customer-signup' %}">Signup as customer</a><br>
        <a href="{% url 'owner-signup' %}">Signup as owner</a>
    </div>
</section>
{% endblock %} -->
