{% extends 'base.html' %}  

{% block title %} | About Us{% endblock %}
{% load static %}
{% block content %}

<!-- <link rel="stylesheet" href="{% static 'css/about.css' %}" /> -->

<style>
  section{
    margin-top: 2.7rem; 
  }

  .sec-image{
    background-image: url("{% static 'images/im3.jpg' %}");
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: bottom; 
    z-index: -99;
    filter: blur(1px);
  }
  .row2{
    width: 40%;
    height: 60vh;
    display:block;
    border-radius: 20px;
    float: right;
  }
  .card{
    display: inline-block;
    width: 100%;
  }
  .card img{
    border-radius: 30px;
    width: 100%;
    height: auto;
   
  }
  .card-body{
   width: 20%;
    margin-right: 20%;
  }
  #about{
    margin-top: 150px;
    /* background-color: #f3efefc4; */
    background-color: #f0c9c9f1;
    height: 100%;
    z-index: 999;
  }

  .row1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px;
    background-color: #e0e0e0;
    width: 100%;
    flex-direction: column;
    float: left;
  }

  .row1 h1,  #work h2{
    font-family: 'Times New Roman', Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    font-size: .8cm;
    font-weight: 100;
  }

  .row1 p{
    font-size: 12px;
    text-align: center;
  }

  #work{
    padding: 40px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #work h4{
    font-size: 12px;
    text-align: center;
    width: 100%;
    padding: 10px 0;
  }

  /* styles for team section */
  section #team {
    padding: 20px;
   
  }

  section #team h2 {
    font-size: 36px;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
  }
  

  section #team .row {
    margin-top: 30px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }

  section #team img {
    max-width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 20px;
  }

  section #team h4 {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 7px;
    text-transform: capitalize;
  }

  section #team hr {
    margin: 30px auto;
    width: 80%;
    border: none;
    border-top: 1px solid black;
  }

  section #team p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .card{
    height: 50vh;
    display: flex;
    justify-content: space-between;
  }

</style>

<section>  
  <div class="sec-image"></div>
  <div id="about">
      <div class="container">   
        <div class="row1">
          <h1>About Us</h1>
          
          <p class="mt-4">
            Real estate management is utilized for any type of rental property,
            including residential rentals or commercial real estate.
            Comfort Homes is a rental management system that simplifies the process of renting properties for both landlords and tenants. Our platform streamlines the rental process, making it easier for landlords to manage their properties and for tenants to find their ideal home.At Comfort Homes, our goal is to make renting as convenient and stress-free as possible. We believe that renting should be simple, fair, and accessible to everyone, which is why we have developed a platform that is easy to use, transparent, and affordable.
            A firm knowledge of the area and competitive rental properties is required.
          </p>
        </div>
        
  

      </div>
    
    <!-- Work -->
    <div id="work" >
      <h2>We work for you</h2>
      <h4>
        Property managers are generally responsible for the day-to-day operations of the real estate,
        from screening tenants to arranging for repairs and maintenance.
        Owners pay property managers a fee or a percentage of the rent generated by the property.
      </h4>
      <hr />
      <a href="{% url 'propertys' %}">View Our Featured Properties</a>
    </div>
    
    <!-- Team -->
    <div id="team">
      <div class="container">
        <h2>Our Team</h2>
        <div class="row">
          {% if owners %}
            {% for owner in accounts %}
            {% if owner.photo %}
               <img src="{{ owner.photo.url }}" alt="" class="rounded-circle mb-3" />
            {% else %}
               <p>No photo available</p>
            {% endif %}

                <h4>{{owner.name}}</h4>
                <p class="text-success">owner</p>
                <hr />
                <p>{{ owner.phone }}</p>
                <p>{{owner.email}}</p>
              </div>
            {% endfor %}
          {%  else %}
            <div class="col-md-12">
              <p>No owners available</p>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
